h2 {
    color: black;
    background-color: lightsteelblue;
    border-radius: 10px;
    padding: 12px;
}

#base {
    margin: 0 10%;
}

#warning-add-account {
    background-color: red;
    border-radius: 10px;
    margin-top: 5px;
}


th, td {
    border-bottom: 4px solid lightslategray;
    width: 20%;
    text-align: right;
}

th {
    text-align: center;
}

button {
    background-color: #008CBA;
    font-size: medium;
    color: white;
    padding: 2px 4px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {opacity: 1}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}